* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: white;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.minesweeper {
	margin: 1rem;
	max-width: 300px;
}

.minesweeper-top {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

.face button {
	padding: 0.2rem 0.5rem;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	max-width: 300px;
}

.cell {
	width: 30px;
	height: 30px;
	border-radius: 0px;
	font-weight: 700;
	font-size: 0.9rem;
	border: 1px inset rgb(127, 127, 127);
	background-color: rgb(197, 197, 197);
}

.active {
	background-color: rgb(82, 82, 82);
	border: 1px solid rgb(127, 127, 127);
}
