* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: rgb(33, 127, 127);
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.minesweeper {
	margin: 1rem;
	padding: 10px;
	max-width: calc(300px + 20px + 20px);
	background-color: #c0c0c0;
	border: 5px solid;
	border-top-color: #ffffff;
	border-right-color: #7b7b7b;
	border-bottom-color: #7b7b7b;
	border-left-color: #ffffff;
	text-align: center;
	vertical-align: middle;
}

.minesweeper-top {
	padding: 0.2rem 0.3rem;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #c0c0c0;
	border: 5px solid;
	border-bottom-color: #ffffff;
	border-left-color: #7b7b7b;
	border-top-color: #7b7b7b;
	border-right-color: #ffffff;

	.time,
	.bombs-number {
		display: flex;
		border: 1px solid;
		border-bottom-color: #ffffff;
		border-left-color: #7b7b7b;
		border-top-color: #7b7b7b;
		border-right-color: #ffffff;
		img {
			margin-bottom: -3px;
		}
	}
}

.face button {
	margin: 0.2rem 0.5rem;
	border-radius: 0px;
	background-color: white;
	border: 0;
	img {
		display: block;
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	max-width: calc(300px + 10px);
	background-color: #c0c0c0;
	border: 5px solid;
	border-bottom-color: #ffffff;
	border-left-color: #7b7b7b;
	border-top-color: #7b7b7b;
	border-right-color: #ffffff;
}

.cell {
	width: 30px;
	height: 30px;
	border-radius: 0px;
	background-color: white;
	border: 0;
}

.active {
	background-color: rgb(82, 82, 82);
	border: 1px solid rgb(127, 127, 127);
}
